@font-face {
  font-family: 'gotFont';
  src: url('../Media/phenix-american.woff') format('woff');
}
header {
  background-color: #040d14;
  display: flex;
  justify-content: start;
  width: 100%;
  border-bottom: dashed #2c3236 2px;
}
@media (max-width: 500px) {
  header {
    flex-direction: column;
  }
}
header .logo {
  display: flex;
}
header .logo h1 {
  color: white;
  font-family: 'gotFont';
  font-size: 3.3rem;
  height: 0.1rem;
  margin: 0.4rem;
  letter-spacing: 0.5rem;
  min-width: 12rem;
}
header .logo a {
  width: 3.5rem;
}
header .logo a img {
  width: 100%;
}
header nav {
  display: flex;
  justify-content: space-between;
  margin-top: 2rem;
}
@media (max-width: 500px) {
  header nav {
    justify-content: center;
    margin: auto;
    width: 95%;
  }
}
header nav a {
  width: 50%;
  padding: 0.5rem 1.5rem 0 1.5rem;
  text-decoration: none;
  color: white;
  font-size: 1.2rem;
  height: 2rem;
  font-family: Oswald;
}
@media (max-width: 500px) {
  header nav a {
    padding: none;
    width: 20%;
    height: auto;
  }
}
header nav a:hover {
  background-color: #033211;
}
body {
  background-color: #040d14;
}
body .container {
  border-radius: 10px;
  background-color: whitesmoke;
  padding: 2rem;
  margin: 5% auto;
  width: 50rem;
  font-family: Arial, Helvetica, sans-serif;
  max-width: 50%;
  /* When moving the mouse over the submit button, add a darker green color */
}
body .container input[type=text],
body .container select,
body .container textarea {
  width: 100%;
  /* Full width */
  padding: 12px;
  /* Some padding */
  border: 1px solid #ccc;
  /* Gray border */
  border-radius: 4px;
  /* Rounded borders */
  box-sizing: border-box;
  /* Make sure that padding and width stays in place */
  margin-top: 6px;
  /* Add a top margin */
  margin-bottom: 16px;
  /* Bottom margin */
  resize: vertical /* Allow the user to vertically resize the textarea (not horizontally) */;
}
body .container input[type=submit] {
  background-color: #01a308;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}
body .container input[type=submit]:hover {
  background-color: #033211;
}
