 body {
    background-color: @main-color;
    

    .main{
        display: flex;
        flex-direction: column;
        margin: auto;

        .salt-shaker{
            margin: auto;
        }
        .search{
            display: flex;
            margin: 0rem auto 2rem auto;
            
            .salt-search{
                width: 20rem;
                border-radius: 15px;
                border: 1px solid @secondary-color;
                padding: 0 2rem;
                height: 2rem;

            }
        }
    }
}