* {
    box-sizing: border-box;
    max-width: 100%;
    margin: 0;
    padding: 0;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 40px;
    margin: 0;
    padding: 1%;
    background: darkblue;
    color: #fff;
}

.navbar a {
    color: #fff;
    text-decoration: none;
}

.container {
    display: flex;
    flex-wrap: wrap;
    width: 80%;
    margin: 5% auto;
}

.form.container, .update-form {
    width: 40%;
    border: 1px solid black;
    padding: 2%;
    border-radius: 7px;
    box-shadow: 1px 1px 6px #444;
}

.update-form input {
    display: block;
}

button {
    margin: 5% 2% 0;
    border: 1px solid #000;
    border-radius: 7px;
    padding: 2%;
    box-shadow: 1px 1px 6px #444;
    text-align: center;
    outline: none;
}

button:hover {
    cursor: pointer;
}

button:active {
    box-shadow: none;
}

.delete-btn {
    color: red;
    border-color: red;
}

.top-comments, .fav-comments {
    width: 40%;
    margin: 0 auto;
    text-align: center;
}

.search-comments {
    width: 100%;
    text-align: center;
    margin: 5%;
}

ul {
    list-style: none;
    text-align: left;
}

.comment-card {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    margin: 5% 0;
    border: 1px solid black;
    padding: 2%;
    box-shadow: 1px 1px 6px #444;
}

.comment-card h3 {
    width: 60%;
}

.comment-card p {
    width: 100%;
    margin: 2%;
    padding: 2%;
}

.salt-rating {
    width: 25%;
    border: 1px solid black;
    border-radius: 7px;
    padding: 1%;
    background: #ccc;
}